<!-- Search bar -->
<div id="search-bar" class="search-bar">
    <input type="text" 
        class="search-bar-input" 
        onblur="onSearchBarLoseFocus()" 
        onfocus="onSearchBarUpdate()" 
        onkeyup="onSearchBarUpdate()" 
        placeholder="Search page by title..">
    <div class="search-bar-results"></div>
</div>

<script>
const searchData = [
	{% for post in site.pages %} 
	{
		id : "{{ post.url | slugify }}",
		title : "{{ post.title | xml_escape }}",
		url: "{{ post.url | xml_escape }}"
	}{% unless forloop.last %},{% endunless %}
	{%- endfor -%}
];
searchData.sort((x, y) => x.title.toLowerCase().localeCompare(y.title.toLowerCase()));
</script>

<script type="text/javascript" src="assets/search-bar.js"></script>
