---
layout: default
---
<article class="post h-entry">

  <header class="post-header">
    <!-- Search bar -->
    {%- include search-bar.html -%}

    <!-- Page title -->
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
    
    <!-- Link to parent page -->
    {%- include back-to-parent.html -%}
  </header>

  <!-- Page content -->
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Links to the child pages -->
  {%- include learn-more.html -%}

</article>
